/*** 
website style
***/
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

/* styling */ 
:root {
  --background: #fcfcfc;
  --text-primary: #363636;
  --text-subtle:#7f7f81;
  --color-sub:#a5a8e4;
  --color-tri:#efadc8;
  --color-highlight:#fbdb94;
  --color-link:#4248b3;
  --surface-callout:#eeeef7;
  --cursor-col: #ffff22;
  --size-sm: 1rem;
  --size-md: 1.5rem;
  --size-lg: 2rem;
  --size-xl: 4rem;
  --base-scale:1.12; 
  --min-font-size:15px;
  --headline50:calc((var(--min-font-size)*var(--base-scale))*3 + 0.390625vw);
  --headline100:calc((var(--min-font-size)*var(--base-scale))*2 + 0.390625vw);
  --headline200:calc(var(--min-font-size)*var(--base-scale) + 0.390625vw);
  --headline300:calc(var(--min-font-size)*(var(--base-scale)/2) + 0.390625vw);
  --body100:var(--min-font-size);
  --body200:calc(var(--min-font-size)/var(--base-scale) + 0.390625vw);
  --body300:calc(var(--min-font-size)/(var(--base-scale)*2) + 0.390625vw);


  /* AustralianSuper colors */ 
  --as-accent: #D93E02;
  --as-primary: #260046;
  --as-secondary: #828282;
  --as-surface: #fff;

}

/* font and styles sizes */ 
h0 {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  font-weight:700; 
  letter-spacing:-0.025em;
  color: var(--text-primary);
  font-weight: 500;
  font-size: var(--headline50);
  line-height: 1;
}

h1 {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  font-weight:700; 
  letter-spacing:-0.025em;
  color: var(--text-primary);
  font-weight: 500;
  font-size: var(--headline100);
  line-height: 1.25;
}

h2 {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  font-weight:500; 
  letter-spacing:-0.025em;
  color: var(--text-primary);
  font-size: var(--headline200);
  line-height: 1.2;
}

p {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  font-weight:400; 
  letter-spacing:-0.025em;
  color: var(--text-primary);
  line-height: 1.5;
}

.summary {
  font-size: var(--body200);
  line-height: 1.5;
  color: var(--text-primary);
}

.descriptor {
  font-size: var(--body300);
  line-height: 1.25;
  color: var(--text-subtle);
}

.paragraph {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  font-size: var(--body100);
  line-height: 1.5;
  color: var(--text-primary);
}

/* markups and styling */ 

code {
  font-family: 'fira code', monospace;
  background: var(--surface-callout);
  color: var(--color-link);
  padding: .125rem .25rem;
  width: fit-content;
  font-size: 12px;
  border: 1px var(--color-link);
  border-radius: 4px;
}

bold {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing:-0.025em;
  font-size: inherit;
}

mark {
  background-color: var(--color-highlight);
  font-size: inherit;
}

a{
  color: var(--color-link);
  font-size: inherit;
  cursor: none;
}

ol li{
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  color: var(--text-primary);
  font-size: var(--body200);
  margin: .5em 1.25em;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.25;
  letter-spacing:-0.025em;
  color: inherit;
}

ul li {
  font-family:'Be Vietnam Pro',Arial, Helvetica, sans-serif;
  color: var(--text-primary);
  font-size: var(--body200);
  margin: .5em 1.25em;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.25;
  letter-spacing:-0.025em;
  color: inherit;
  padding: 0em 0.5em;
}


.highlight {
  background-image: linear-gradient(to right, var(--color-tri) 0%, var(--color-tri) 100%);
  background-repeat: repeat-x; 
  background-position: 0 100%; 
  background-size: 100% 3px; 
  transform: skew(-12deg) translateX(-50%);
  font-size: inherit;
}

.callout {
  padding: 1em 0em 1em 1em; 
  border-left:3px solid var(--color-link);
  background-color: var(--surface-callout);
  color: #47484a;
  margin: 2em 1em;
  box-shadow: 0 8px 8px -4px #ddd;
}

.callout li::marker {
}

.quote {
  font-family: 'Lora', 'Times New Roman', Times, serif;
  font-weight: 400;
  color: var(--color-link);
  line-height: 1.25;
}

  /* cursor*/ 
  
  .cursor {
    z-index: 9999;
    position: fixed;
    width: auto;
    height: auto;
    background-color: var(--cursor-col);
    border-radius: 0;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  .circle {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--cursor-col);
    }


/* configs here */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(var(--min-font-size) + 0.390625vw);
  letter-spacing:-0.025em;
}

html,
body {
  scroll-behavior: smooth;
  background-image: url(./assets/background.png);
  background-size: 128px 256px;
  overflow:auto;
  cursor: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.hero {
  width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

.footer {
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wrapper-row {
  display: flex;
  flex-direction: row;
  gap: .75em;
}

#tight {
  gap: .5em;
}

/* tiles */

.tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: .5em;
  height:120px;
  padding: 1em;
  border: 1px solid var(--color-sub);
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px #caccce;
  background: linear-gradient(#fefefe, #f7f7f7);
  transition-property: box-shadow, padding, transform;
  transition-duration: 120ms;
  transition-timing-function: ease-in-out;
}

.tile:hover {
  background: linear-gradient(#fefefe,#fdfdfd);
  box-shadow: 0px 2px 2px 0px #ddd;
  transform: scale(.95);
}

.tile:focus {
  background: #fefefe;
  border: 2px solid var(--color-link);
}

.tile:active {
  background: linear-gradient(#ededed,#ededed);
  box-shadow: 0px 1px 2px 0px #bbb;
  padding: 1.25em 1em 1em 1em;
  transform: scale(.95) translateY(4px);
}

/* services */

.services {
  padding: 4em 2em 8em 2em;
  display: flex;
  flex-direction: column;
  gap:2em;
}

.services-header {
  width: 100%;
  display: flex;
  gap: 2em;
}

.services-header .col:nth-child(1) {
  flex: 5;
}

.services-header .col:nth-child(2) {
  flex: 5;
}

.service {
  display: flex;
  gap: 2em;
  height: 150px;
  border: 1px solid var(--color-sub);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #caccce;
  background: linear-gradient(#fefefe, #f7f7f7);
  transition-property: box-shadow, padding, transform;
  transition-duration: 240ms;
  transition-timing-function: ease-in-out;
}

.service:hover {
  background: linear-gradient(#fefefe,#fdfdfd);
  box-shadow: 0px 2px 4px 0px #ccc;
  transform: scale(.99);
}

.service:focus {
  background: #fefefe;
  border: 2px solid var(--color-link);
}

.service:active {
  background: linear-gradient(#ededed,#ededed);
  box-shadow: 0px 2px 2px 0px #bbb;
  transform: scale(.99) translateY(4px);
}

.service-info {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em;
  animation: fadeIn .5s ease-in-out .2s forwards;
}

.service-img {
  flex: 5;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.img {
  width: 30%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

/* stories and work */
.story-header {
  width: 100%;
  display: flex;
  gap: 2em;
}

.story-img {
  flex: 5;
  width: 100%;
  height: 100%;
  padding: 0em;
}

.story-img .img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.story-header .col:nth-child(1) {
  flex: 2;
}

.story-header .col:nth-child(2) {
  flex: 4;
  padding: 0em;
}

.story-header .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: .75em 1em;
}

.info {
  background-color: #eee;
  padding: .75em 1em;
  border-radius: .25em;
  display: flex;
  flex-direction: column;
  gap:.5em;
  margin: .25em 0em 1em 0em;
}

.color {
  border: 1.5px solid #c1c3c6;
  border-radius: 99px;
  height: 2em;
  width: 2em;
}

#middle-align {
  align-items: center;
}

#stack {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#stack-row {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

#stack-tight {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

#stretch {
 flex:1;
}

.wrapper#middle-align{
  gap:.5em;
  flex: 1;
}

#section1,#section2,#section3 {
  padding:0em;
}


/* lenis scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/*! Media queries */ 
@media screen and (min-width: 1440px) {

  .container {
    padding: 0em 8em;
  }

  .hero {
    width: auto;
    padding: 2em 0em;
    justify-content: space-around;
  }

  .services {
    display: flex;
    padding: 2em 0em;
    flex-direction:column;  }
}


@media only screen and (max-width: 768px) {

  :root {
    --min-font-size:16px;
    --headline100:calc((var(--min-font-size)*var(--base-scale))*1.25 + 0.390625vw);
    --body300:calc((var(--min-font-size)*var(--base-scale))/1.5 + 0.390625vw);
  }


  * {
    font-size: calc(16px + 0.390625vw)
  }

  .descriptor {
    font-size: var(--body300);
    line-height: 1.25;
    color: var(--text-subtle);
  }

  .callout {
    margin: 1em 1em 1em 1em;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    gap:.75em;
  }

  #stack-tight {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
  }

  #stack-row {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .cursor {
    display: none;
  }

  .circle {
    display: none;
  }

  .hero {
    padding: 2em 1em;
    height: auto;
    gap: 2em;
  }

  .service {
    display: flex;
    flex-direction:column;
    gap: 0.5em;
  }

  .services {
    padding: 0.5em 1em 4em 1em;
  }

  .services-header {
    display: block;
  }

  .service-info {
    gap: 0.5em;
  }

  .service-img {
    padding: 0em;
  }

  .services-header .col:nth-child(2) {
    padding: 0em;
  }

  .img {
    border-radius: 0px 0px 12px 12px;
  }

  .story-header {
    flex-direction: column;
  }

  

}
